.div_contact_info{

    margin: 2%;
    font-size: large;

    .input_contact{
        padding-left: 4%;
        width: 30%;
    }
    .o_input_dropdown{
        border: 1px solid #898f94;
        border-radius: 5px;
        padding-left: 5%;
    }
    input{
        font-weight: 300;
    }
}
.div_info{
    width: 30%;
    margin: 2%;
    font-size: large;
    td{
        width:30%;
    }
}
